#loginButton {
  margin: 0 auto;
  font-family: roboto;
  /* background-color: #1A3766; */
  border-color: transparent;
}

#loginButton:hover, #loginButton:focus, #loginButton:active {
  /* background-color: #1a378e; */
  /* box-shadow: 0 0 3px white; */
  cursor: pointer;
}

#loginHeader {
  color: white;
  font-family: 'Baloo Bhai', cursive;
  font-size: 5rem;
}

#flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, #397be6, #1A3766);
}
