#GroupHeader {
  color: white;
  font-family: 'Baloo Bhai', cursive;
  font-size: 5rem;
}

.buttonLink, .buttonLink:hover {
  text-decoration: none;
}

#create-group, #join-group {
  margin: 0 auto;
  font-family: roboto;
  background-color: #1A3766;
  color: white;
  border-color: transparent;
}

#create-group:hover, #join-group:hover {
  background-color: #1a378e;
  box-shadow: 0 0 3px white;
}
